name: Process
on:
  schedule:
    - cron: "05 03 * * *"
    - cron: "05 11 * * *"
  workflow_dispatch:

env:
  TZ: Asia/Shanghai

  # 下面这些即便是空也没关系，先保留着
  PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
  REACHABLE: ${{ vars.REACHABLE }}
  SKIP_ALIVE_CHECK: ${{ vars.SKIP_ALIVE_CHECK }}
  SKIP_REMARK: ${{ vars.SKIP_REMARK }}
  WORKFLOW_MODE: ${{ vars.WORKFLOW_MODE }}
  ENABLE_SPECIAL_PROTOCOLS: ${{ vars.ENABLE_SPECIAL_PROTOCOLS }}

jobs:
  process:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Prepare
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          architecture: "x64"
          cache: "pip"

      - name: Install
        run: pip3 install -r requirements.txt

      - name: Process with explicit config
        run: python -u subscribe/process.py -s subscribe/config/my-process.json --overwrite

      - name: Timestamp
        run: date "+%Y-%m-%d %H:%M:%S %Z"
